{% extends 'base.html.twig' %}

{% block title %}Certifications - {{ course.title }}{% endblock %}

{% block body %}
    <h1>Certifications du cours : {{ course.title }}</h1>

    
        
   
        <p>Cours validé</p>
   

    
{% endblock %}





