{% extends 'base.html.twig' %}

{% block title %}Nouveau produit{% endblock %}

{% block body %}
    <div class="container"><br><br>
        <h1>Créer un nouveau produit</h1><br><br>

        {{ include('product/_form.html.twig', {'button_label':'Ajouter'}) }}

        <a href="{{ path('app_product_index') }}">retour à la liste</a>
    </div>
{% endblock %}
