{% extends 'base.html.twig' %}

{% block title %}Paiement validé{% endblock %}

{% block body %}


<div class="container">
    <h1>Votre paiement a été effectué avec succès</h1>
</div>
{% endblock %}
