<!DOCTYPE html>
<html>
<head>
    <title>Confirmez votre inscription</title>
</head>
<body>
    <h1>Bienvenue sur notre site !</h1>
    <p>Bonjour {{ email }},</p>
    <p>Merci de vous être inscrit sur notre site. Pour activer votre compte, veuillez cliquer sur le lien ci-dessous :</p>
    <p><a href="{{ path('app_activate', {'token': token}) }}">Activer mon compte</a></p>
    <p>Si vous n'avez pas fait cette demande, vous pouvez ignorer ce message.</p>
    <p>Bien cordialement,</p>
    <p>L'équipe de notre site</p>
</body>
</html>

